In [1]:
import sys, os
import pandas as pd
import numpy
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

In [8]:
def nbc(t_frac):
    df = pd.read_csv('trainingSet.csv').sample(frac=t_frac, random_state=47)
    return df

In [9]:
df = nbc(1)

In [10]:
# Print the accuracy

      gender  age  age_o  race  race_o  samerace  importance_same_race  \
5348       1    1      0     2       2         1                     0
1225       0    0      0     0       2         0                     1
4424       0    1      0     0       2         0                     4
1338       1    0      1     2       2         1                     1
227        0    0      0     1       2         0                     3
825        0    0      1     0       2         0                     0
958        1    1      1     2       2         1                     0
2130       1    1      1     2       2         1                     3
4315       1    0      1     2       2         1                     1
1790       0    0      1     2       2         1                     2
4124       1    1      0     2       2         1                     1
4804       1    0      0     2       0         0                     0
3344       0    0      1     1       2         0                     0
420        0    1      1     0       1         0                     2
2861       1    1      0     2       2         1                     0
4172       1    0      0     0       0         1                     1
604        0    1      0     2       2         1                     0
3910       0    0      0     2       2         1                     0
2293       1    1      0     4       2         0                     0
5326       1    1      0     2       3         0                     3
803        1    0      0     2       2         1                     3
4122       1    1      0     2       2         1                     1
1502       0    1      0     0       0         1                     0
458        1    0      0     2       4         0                     2
1464       1    1      1     2       2         1                     0
282        1    1      1     2       2         1                     2
5045       0    0      1     3       2         0                     2
3845       0    0      1     2       2         1                     0
4246       0    1      0     2       2         1                     0
277        1    1      0     2       2         1                     2
...      ...  ...    ...   ...     ...       ...                   ...
5257       1    0      0     0       2         0                     4
1125       1    0      0     2       2         1                     0
948        1    0      0     0       3         0                     0
5283       1    0      0     0       4         0                     1
3281       1    1      0     4       2         0                     0
4319       1    0      0     2       2         1                     1
4846       0    0      0     0       0         1                     0
4674       1    1      1     0       1         0                     0
5056       0    0      0     4       2         0                     2
2850       1    1      0     2       4         0                     0
1756       0    0      1     2       2         1                     1
2608       0    0      1     2       2         1                     4
1769       0    0      1     2       2         1                     3
4594       0    1      1     2       2         1                     1
1608       1    0      0     2       2         1                     0
4475       0    0      1     2       2         1                     3
2539       0    0      1     0       2         0                     0
4826       0    1      0     0       0         1                     0
562        0    0      1     2       2         1                     0
4919       0    1      1     3       1         0                     0
3185       1    1      1     2       2         1                     1
2733       1    1      0     2       2         1                     0
2119       1    0      0     0       2         0                     0
775        1    0      0     4       2         0                     0
3095       1    0      1     2       0         0                     1
2896       1    1      0     1       2         0                     3
691        1    1      1     2       2         1                     2
3336       0    0      1     2       0         0                     3
1926       1    1      1     2       2         1                     3
5255       1    0      0     0       0         1                     4

      importance_same_religion  field  pref_o_attractive    ...     theater  \
5348                         1     89                  0    ...           3
1225                         1     23                  0    ...           4
4424                         3     23                  0    ...           3
1338                         1    175                  0    ...           2
227                          0    121                  1    ...           3
825                          1    121                  1    ...           0
958                          0    142                  0    ...           3
2130                         0     21                  0    ...           0
4315                         0    121                  0    ...           4
1790                         2     38                  0    ...           1
4124                         0    142                  0    ...           2
4804                         0     47                  0    ...           2
3344                         0     63                  2    ...           1
420                          1    192                  1    ...           3
2861                         2     90                  0    ...           1
4172                         1     19                  0    ...           2
604                          0    113                  0    ...           4
3910                         2     53                  0    ...           4
2293                         3     82                  0    ...           1
5326                         3     23                  1    ...           1
803                          2    171                  0    ...           3
4122                         0    142                  0    ...           2
1502                         0    109                  1    ...           2
458                          3    121                  0    ...           1
1464                         0     82                  0    ...           2
282                          2     82                  0    ...           2
5045                         0    192                  1    ...           4
3845                         0    121                  1    ...           3
4246                         0    105                  1    ...           0
277                          2     82                  1    ...           2
...                        ...    ...                ...    ...         ...
5257                         2     70                  0    ...           2
1125                         0    184                  0    ...           2
948                          1    139                  0    ...           2
5283                         3     19                  2    ...           3
3281                         0    207                  1    ...           4
4319                         0    121                  0    ...           4
4846                         0     70                  1    ...           3
4674                         0     23                  0    ...           3
5056                         2    192                  0    ...           3
2850                         2     90                  0    ...           1
1756                         4    140                  1    ...           2
2608                         4    192                  1    ...           4
1769                         2     23                  0    ...           2
4594                         1    105                  1    ...           3
1608                         0    112                  0    ...           1
4475                         1     49                  1    ...           4
2539                         0    167                  1    ...           2
4826                         0    120                  0    ...           1
562                          0     43                  0    ...           2
4919                         0      0                  1    ...           4
3185                         1     23                  0    ...           2
2733                         2    194                  1    ...           2
2119                         1    174                  0    ...           1
775                          0    121                  0    ...           3
3095                         0    159                  0    ...           2
2896                         0    105                  0    ...           3
691                          3     36                  0    ...           3
3336                         2    165                  2    ...           3
1926                         0    142                  0    ...           2
5255                         2     70                  0    ...           2

      movies  concerts  music  shopping  yoga  interests_correlate  \
5348       3         4      4         3     0                    3
1225       3         2      2         3     4                    2
4424       3         1      0         4     4                    1
1338       3         1      4         2     0                    3
227        4         4      4         4     0                    1
825        4         4      4         3     0                    3
958        2         4      4         0     1                    3
2130       2         0      2         0     0                    3
4315       4         4      4         3     0                    2
1790       3         2      2         1     2                    4
4124       2         1      3         0     0                    3
4804       2         3      3         1     0                    3
3344       3         0      3         4     0                    2
420        3         4      4         3     2                    2
2861       2         4      4         0     2                    3
4172       3         2      3         3     2                    2
604        4         3      4         2     4                    4
3910       4         3      3         3     0                    2
2293       3         3      2         1     0                    3
5326       2         3      4         1     0                    2
803        3         4      4         2     3                    3
4122       2         1      3         0     0                    3
1502       2         4      4         2     2                    3
458        4         2      3         0     0                    1
1464       4         1      4         3     0                    3
282        3         2      2         2     1                    2
5045       3         2      3         1     4                    4
3845       3         4      4         3     3                    3
4246       0         1      3         3     1                    2
277        3         2      2         2     1                    1
...      ...       ...    ...       ...   ...                  ...
5257       3         3      3         3     1                    2
1125       3         4      4         0     4                    3
948        2         2      3         0     3                    2
5283       3         3      4         4     1                    2
3281       4         3      3         2     4                    3
4319       4         4      4         3     0                    2
4846       4         4      4         3     3                    2
4674       3         3      3         3     1                    2
5056       3         3      3         3     2                    3
2850       2         4      4         0     2                    3
1756       3         1      3         4     0                    2
2608       4         4      4         4     3                    3
1769       2         1      3         4     3                    2
4594       3         3      3         3     3                    3
1608       3         4      4         1     0                    3
4475       4         4      4         4     4                    3
2539       4         1      4         4     0                    2
4826       3         2      3         3     3                    4
562        4         4      4         0     0                    3
4919       3         1      1         1     4                    3
3185       3         2      3         0     0                    4
2733       3         3      2         1     4                    3
2119       3         3      4         0     3                    2
775        3         3      3         2     1                    2
3095       4         3      3         0     0                    2
2896       4         2      4         0     0                    3
691        3         2      3         1     3                    3
3336       3         3      4         2     4                    2
1926       3         2      2         0     0                    3
5255       3         3      3         3     1                    1

      expected_happy_with_sd_people  like  decision
5348                              2     2         1
1225                              2     2         0
4424                              2     2         0
1338                              3     4         1
227                               0     3         0
825                               1     2         0
958                               3     3         1
2130                              1     3         1
4315                              3     2         0
1790                              2     2         0
4124                              1     2         1
4804                              3     3         1
3344                              2     3         1
420                               1     1         0
2861                              2     1         0
4172                              2     3         1
604                               2     3         1
3910                              2     3         0
2293                              2     4         1
5326                              3     3         1
803                               2     2         0
4122                              1     2         1
1502                              2     3         1
458                               4     3         1
1464                              3     4         1
282                               3     3         1
5045                              2     0         0
3845                              3     3         1
4246                              1     2         0
277                               3     3         1
...                             ...   ...       ...
5257                              3     2         0
1125                              2     3         1
948                               2     3         1
5283                              2     2         0
3281                              0     1         0
4319                              3     4         1
4846                              2     2         1
4674                              2     4         1
5056                              0     0         0
2850                              2     2         1
1756                              1     3         0
2608                              3     3         0
1769                              1     2         0
4594                              2     2         0
1608                              3     2         1
4475                              3     3         1
2539                              1     2         0
4826                              2     2         1
562                               2     3         1
4919                              1     0         0
3185                              2     3         0
2733                              0     3         1
2119                              3     1         0
775                               2     4         1
3095                              2     2         0
2896                              2     2         0
691                               3     3         1
3336                              2     2         0
1926                              2     3         1
5255                              3     3         0

[5395 rows x 53 columns]